.App {
  text-align: center;
  /*background-color: #222;*/
  width: 100%;
}

.App-logo {
  height: 200px;
}

.App-header {
  background-color: black;
  height: 200px;
  width: 100%;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
