.App {
  text-align: center;
  /*background-color: #222;*/
  width: 100%;
}

.App-logo {
  height: 90%;
  padding-top: 10px;
}

.App-header {
  background-color: black;
  height: 100px;
  width: 100%;
  padding: 20px;
  color: white;
  font-family: 'Arbutus Slab', serif;
}

.searchText {
  margin: 0 auto;
  float: left;
  padding-left: 47%;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.faveButton {
  float:right;
  padding-top: 17px;
  padding-right: 17px;
}

.faveText {
  color: white;
  margin-top: 0;
  font-size: 9px;
}