p {
	font: black;
	text-align: left;
	float: center;
}

h3 {
	text-align: left;
}

.Search {
	width: 800px;
	border: 1px solid black;
	margin: 25px auto;
	padding: 25px;
}

form {
	text-align: left
}

input[type=text], select {
    /*width: 100%;*/
    /*padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;*/
    border: none;
    border-bottom: 2px solid #544949;
}

input[type=submit] {
    width: 55%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    padding-top: 15px;
    margin: 30px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:14px;
}

.searchText {
	width: 55%;
	/*padding-right: 20px;*/
}

.year {
	width: 55%;
}

input[type=submit]:hover {
    background-color: #45a049;
}